body {
    font-family: Arial;
    margin: 0;
    background: #f4f6f8;
}

h1 {
    background: #1e88e5;
    color: white;
    padding: 15px;
    margin: 0;
}

.container {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.box {
    flex: 1;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

input {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
}

button {
    padding: 8px;
    margin: 3px;
    border: none;
    background: #1e88e5;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #1565c0;
}

li {
    list-style: none;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}